.road-part {
    background-image: url("../img/road.svg");
    background-repeat: repeat-x;
    background-size: contain;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.flag {
    background-image: url("../img/flag.svg");
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    margin-right: 50px;
}

.car-header {
    max-width: 300px;
    min-width: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-header-btn {
    width: 5em;
    height: 2em;
}

.car-header-btn-block {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.title-car {
    color: #0a147e;
    font-weight: bold;
}

.car {
    margin-left: 55px;
}

.item-car {
    border-bottom: 1px dotted #508cbe;
    margin-top: 10px;
    margin-bottom: 30px;
}

.start-stop-block {
    display: flex;
    justify-content: space-between;
    width: 50px;
    position: absolute;
}

.drive-btn {
    width: 20px;
    height: 20px;
}