.main-container {
    width: 100%;
}

.update-container {
    min-width: fit-content;
    width: 70%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 45px;
}

.header-btn-block {
    display: flex;
    min-width: 415px;
    width: 70%;
    max-width: 500px;
    justify-content: space-between;
}

.race {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.car-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 415px;
    width: 70%;
    max-width: 500px;
    height: 100px;
}